/*产品介绍页面主题内容样式*/
div.wrap>.container>.top{text-align:center}
div.wrap>.container>.top>h2{font:bold 25px 微软雅黑;padding-top:60px;}
div.wrap>.container>.top>h4{font:22px 微软雅黑;margin:15px 0px;}
div.wrap>.container>.top>p{font:13px 微软雅黑;margin:25px 0px;color:#5a5a5a;}
div.wrap>.container>.top>ul{width:615px;height:58px;margin:36px auto;}
div.wrap>.container>.top>ul>li{width:16.666667%;height:38px;line-height:38px;float:left;padding:10px;}
div.wrap>.container>.top>ul>li>a{display:block;width:100%;color:rgb(102, 102, 102);font-weight:bold;}
div.wrap>.container>.top>ul>li>a:hover{background:red;color:white;}
div.wrap>.container>div.bbot{width:100%;height:730px;position:relative;}
div.wrap>.container>div.bbot>.bot{width:100%;position:absolute;top:0px;}
div.wrap>.container>div.bbot>.bot>ul{width:1151px;height:726px;margin:0 auto;}
div.wrap>.container>div.bbot>.bot>ul>li{width:180px;height:315px;margin:9px;color:#5a5a5a;padding:15px;float:left;border:1px solid #eee;}
div.wrap>.container>div.bbot>.bot>ul>li:hover{border:1px solid #FFA500;opacity:0.9;}
div.wrap>.container>div.bbot>.bot>ul>li>a{display:block;width:100%;}
div.wrap>.container>div.bbot>.bot>ul>li>a>div.img{width:180px;height:180px;transition-duration:0.5s;overflow:hidden;}
div.wrap>.container>div.bbot>.bot>ul>li>a>div.img>img{width:180px;height:180px;}
div.wrap>.container>div.bbot>.bot>ul>li>a>div.img>img:hover{transform:scale(1.4)}
div.wrap>.container>div.bbot>.bot>ul>li>a>div{line-height:150%;}
div.wrap>.container>div.bbot>.bot>ul>li>a>div>h4{font-size:18px;}
div.wrap>.container>div.bbot>.bot>ul>li>a>div>b{font-size:14px;color:red;}
div.wrap>.container>div.bbot>.bot>ul>li>a>div>p{font-size:13px;}
div.wrap>.container>div.bbot>.bot>ul>li>a>div>p>span{color:red;}
div.wrap>.container>div.sub>ul{width:161px;height:35px;margin:9px auto;margin-bottom:40px;}
div.wrap>.container>div.sub>ul>li{width:15px;height:21px;line-height:21px;border:1px solid #FFE3C6;float:left;margin:3px;text-align:center;background:#FFBE94;}
div.wrap>.container>div.sub>ul>li:hover{background:#FF9600;cursor:pointer;}
div.wrap>.container>div.sub>ul>li>span{color:#FF6500}
div.wrap>.container>div.sub>ul>p{width:15px;height:21px;line-height:21px;border:1px solid #FFE3C6;float:left;margin:3px;text-align:center;background:#FFBE94;}
div.wrap>.container>div.sub>ul>p:hover{background:#FF9600;cursor:pointer;}